{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Cards Against Humanity</title>

		<link rel="stylesheet" type="text/css" href="{% static 'game/css/bootstrap.min.css' %}" />
		<style>
			#main {
				padding-top: 70px;
			}
		</style>

		<script src="{% static 'game/js/vendor/jQuery.js' %}"></script>
		<script src="{% static 'game/js/vendor/underscore.js' %}"></script>
		<script src="{% static 'game/js/vendor/backbone.js' %}"></script>
		<script src="{% static 'game/js/vendor/backbone.marionette.js' %}"></script>

		<script src="{% static 'game/js/cardsAgainstHumanity.js' %}"></script>
		<script src="{% static 'game/js/LoginView.js' %}"></script>
		<script src="{% static 'game/js/AboutView.js' %}"></script>
		<script src="{% static 'game/js/LobbyView.js' %}"></script>

		<script>
			$(function(){
				cardsAgainstHumanity.start();
			});
		</script>
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="./" class="navbar-brand">Cards against humanity</a>
				</div>

				<nav>
					<ul class="nav navbar-nav">
						<li><a href="#lobby">Lobby</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<div id="main" class="container">
		</div>

		<script type="text/template" id="template-login">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="panel panel-default">
						<div class="panel-heading">Login / Register</div>
						<div class="panel-body">

							<form class="form-horizontal js-login-form">
								{% csrf_token %}

								<div class="form-group">
									<label for="username" class="col-xs-2 control-label">Username</label>
									<div class="col-xs-10">
										<input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
									</div>
								</div>

								<div class="form-group">
									<label for="password" class="col-xs-2 control-label">Password</label>
									<div class="col-xs-10">
										<input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-10 col-xs-offset-2">
										<button type="submit" class="btn btn-primary">Login</button>
										<button type="button" class="btn btn-secondary js-register">Register</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-lobby">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<form class="form-horizontal js-login-form">
						{% csrf_token %}
						<input type="hidden" name="playerhash" value="{{ playerhash }}" />
						<div class="input-group input-group-lg">
							<span class="input-group-addon">Username</span>
							<input type="text" class="form-control" name="username" placeholder="Username" required />
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Lobby</div>
						<div class="panel-body">
							<ol class="list-group">
								<li class="list-group-item">Players: 4 | Last player joined 10 minutes ago</li>
								<li class="list-group-item">Players: 4 | Last player joined 10 minutes ago</li>
								<li class="list-group-item">Players: 4 | Last player joined 10 minutes ago</li>
								<li class="list-group-item">Players: 4 | Last player joined 10 minutes ago</li>
							</ol>

							<button class="btn btn-primary js-new-game">New Game</button>

						</div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-about">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">About</div>
						<div class="panel-body">
							<p>
								This game is pretty much a complete rip-off of <a href="http://cardsagainsthumanity.com" target="_blank">Cards Against Humanity</a>, used under the BY-NC-SA 2.0 Creative Commons license.
							</p>
							<p>
								Card data is from <a href="https://github.com/samurailink3/hangouts-against-humanity/" target="_blank">https://github.com/samurailink3/hangouts-against-humanity/</a>.
							</p>
							<p>
								Source code available at <a href="https://github.com/ryandeba/cardsAgainstHumanity" target="_blank">https://github.com/ryandeba/cardsAgainstHumanity</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</script>
	</body>
</html>
