{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Cards Against Humanity</title>

		<link rel="stylesheet" type="text/css" href="{% static 'game/css/bootstrap.min.css' %}" />
		<style>
			body {
				padding-top: 80px;
			}

			.card:hover {
				box-shadow: 0px 0px 15px #fff;
				cursor: pointer;
			}
		</style>

		<script src="{% static 'game/js/vendor/jQuery.js' %}"></script>
		<script src="{% static 'game/js/vendor/jquery.cookie.js' %}"></script>
		<script src="{% static 'game/js/vendor/underscore.js' %}"></script>
		<script src="{% static 'game/js/vendor/backbone.js' %}"></script>
		<script src="{% static 'game/js/vendor/backbone.marionette.js' %}"></script>

		<script src="{% static 'game/js/cardsAgainstHumanity.js' %}"></script>
		<script src="{% static 'game/js/AboutView.js' %}"></script>
		<script src="{% static 'game/js/Lobby.js' %}"></script>
		<script src="{% static 'game/js/Game.js' %}"></script>
		<script src="{% static 'game/js/Router.js' %}"></script>

		<script>
			$(function(){
				cardsAgainstHumanity.start();
			});
		</script>
	</head>
	<body>
		<input type="hidden" id="playerhash" name="playerhash" value="{{ playerhash }}" />
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="./" class="navbar-brand">Cards against humanity</a>
				</div>

				<nav>
					<ul class="nav navbar-nav">
						<li><a href="#lobby">Lobby</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<div id="main" class="container">
		</div>

		<script type="text/template" id="template-game">
			<div class="row">
				<div class="col-xs-8">
					<div class="well" style="min-height: 240px;">
						<% if (active == 1) { %>
							<h4 class="text-center">
								<% if (currentRoundWinner != undefined){ %>
									<%= currentRoundWinner.name %> wins! Next round will start soon.
								<% } else { %>
									<%= currentRoundQuestioner.name %> wants to know...
								<% } %>
							</h4>
							<h2 class="text-center"><%= currentRoundQuestion %></h2>

							<% if (currentRoundAnswers.length >= gamePlayers.length - 1) { %>
								<ul>
									<% for (var i = 0; i < currentRoundAnswers.length; i++){ %>
										<li class="js-round-answer" data-id="<%= currentRoundAnswers[i].card_id %>">
											<%= currentRoundAnswers[i].text %>
											<%= currentRoundAnswers[i].winner == 1 ? "*" : "" %>
										</li>
									<% } %>
								</ul>
							<% } else { %>
								<p>Waiting for all players to submit answers</p>
							<% } %>

						<% } else if (active == 0) { %>
							<h3 class="text-center">Waiting for other players to join</h3>
							<% if (gamePlayers.length >= 3){ %>
								<button type="button" class="btn btn-primary js-startgame">Start Game</button>
							<% } %>
						<% } else if (active == 2) { %>
							<h3 class="text-center">Game Over</h3>
						<% } else { %>
							<h3 class="text-center">Loading...</h3>
						<% } %>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="well" style="min-height: 240px;">
						<h4 class="text-center">Players</h4>
						<ol class="js-gameplayers">
							<% for (var i = 0; i < gamePlayers.length; i++){ %>
								<li>
									<%= gamePlayers[i].id == currentRoundQuestioner.id ? "*" : "" %>
									<%= gamePlayers[i].name  %>
									(<%= gamePlayers[i].points  %>)
								</li>
							<% } %>
						</ol>
						<% if (active == 0){ %>
							<button type="button" class="btn btn-primary js-add-bot">Add bot</button>
						<% } %>
					</div>
				</div>
			</div>

			<div class="row">
				<% if (active == 1){ %>
					<% for (var i = 0; i < thisPlayersAnswerCards.length; i++) { %>
						<div class="col-xs-2">
							<div class="well card js-answercard" data-id="<%= thisPlayersAnswerCards[i].card_id %>" style="height: 200px;">
								<%= thisPlayersAnswerCards[i].text %>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</script>

		<script type="text/template" id="template-gameplayer">
			<%= $.trim(name).length == 0 ? 'Anonymous' : name %>
		</script>

		<script type="text/template" id="template-lobby">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="form-horizontal js-login-form">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">Lobby</div>
						<div class="panel-body">

							<form class="js-username-form">
								<p class="input-group">
									<input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{ playername }}" />
									<span class="input-group-btn"><button type="submit" class="btn btn-primary">Save</button></span>
								</p>
							</form>

							<div class="list-group js-lobbygames"></div>

							<button class="btn btn-primary js-newgame">New Game</button>
							<button class="btn btn-secondary js-refreshlobby">Refresh Lobby</button>

						</div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-lobbygamelistitem">
			<a class="list-group-item" href="#game/<%= id %>">
				ID: <%= id %> |
				Players: <%= numberOfPlayers %> |
				<%
					var roundedSeconds = Math.round(secondsSinceLastPlayerJoined);
					var minutes = roundedSeconds / 60;
					var hours = minutes / 60;
					var formattedTimeString = "just now";
					if (hours > 0)
						formattedTimeString = "over an hour ago :(";
					else if (minutes > 1)
						formattedTimeString = minutes + " minutes ago";
				%>
				Last player joined <%= formattedTimeString %>
			</a>
		</script>

		<script type="text/template" id="template-about">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">About</div>
						<div class="panel-body">
							<p>
								This game is pretty much a complete rip-off of <a href="http://cardsagainsthumanity.com" target="_blank">Cards Against Humanity</a>, used under the BY-NC-SA 2.0 Creative Commons license.
							</p>
							<p>
								Card data is from <a href="https://github.com/samurailink3/hangouts-against-humanity/" target="_blank">https://github.com/samurailink3/hangouts-against-humanity/</a>.
							</p>
							<p>
								Source code available at <a href="https://github.com/ryandeba/cardsAgainstHumanity" target="_blank">https://github.com/ryandeba/cardsAgainstHumanity</a>.
							</p>
							<p>
								Upcoming features in no particular order:
								<ul>
									<li>Support for questions with more than one answer</li>
									<li>Pick which expansions to include</li>
									<li>Create your own cards</li>
									<li>Mobile friendly</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</script>
	</body>
</html>
